* {
    margin-top: 0px;
    margin-left: 0px;
}

.Header_Parent_Container {
    width: 101%;
    position: fixed;
    top: 0px;
    overflow-x: hidden;
    z-index: 2;
    background-color: rgb(27, 31, 40);
    height: 50px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.Header_Parent_Container h1{
    align-items: center;
    color: white;
    font-weight: lighter;
    font-size: 35px;
    margin-top: 3px;
    cursor: pointer;
}

.BlogPostParentContainer {
    position: absolute;
    top: 5%;
    width: 100%;
    min-height: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
}

.BlogContainer {
    width: 900px;
    background-color: rgb(27, 31, 40);
    margin-top: 20px;
    border-radius: 10px;
    height: auto;
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: center;

}
.BlogPostContainer h1{
    align-self: center;
    font-size: 30px;
}

.BlogContainer h1{
    align-self: center;
}

.create_blog_post_parent {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.create_blog_post_parent h2{
    margin-top: 5px;
}
.create_blog_post_parent input{
    width: 400px;
    height: 30px;
}

.create_blog_post_parent textarea{
    width: 800px;
    height: 400px;
}


.blog_post_clickible_parent {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 25px;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    margin-right: 20px;
    border: 2px white solid;
    margin-left: 20px;
    transition: linear 0.4s;
}

.blog_post_clickible_parent:hover{
    width: 360px;
    height: 310px;
    transition: linear 0.4s;
}


.blog_post_clickible_parent img {
    width: 100%;
    max-height: 250px;
    min-height: 250px;
    border-radius: 10px;
}

.blog_post_clickible_parent h1{
    color: white;
    margin-top: 10px;
    font-size: 30px;
}

.blog_post_clickible_parent h2 {
    color: white;
    margin-top: -20px;
    font-size: 15px;
}

.BlogPostContainer {
    width: 900px;
    background-color: rgb(27, 31, 40);
    margin-top: 20px;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 40px;
    color: white;
}

.BlogPostContainer img {
    margin-top: 25px;
    width: 95%;
    height: 500px;
}

.BlogPostContainer h1 {
    font-size: 50px;
    margin-bottom: 5px;
    color: white;
    align-self: center;
}

.BlogPostContainer h3 {
    align-self: center;
    margin-left: 20px;
    line-height: 40px;
    font-size: 20px;
}

.new_comment_container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 37, 37);
    padding: 40px;
    width: 500px;
    height: auto;
    gap: 10px;
}

.comment_form_container {
    height: 100px;
}

.comment_container {
    background-color: rgb(38, 37, 37);
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
}

.comment_container h1{
    font-size: 35px;
}

.comment_container h2{
    font-size: 17px;
}